{
  "presets": [
    "stage-1",
    "flow",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"browsers": "last 2 versions"}}],
        "stage-1", "flow", "react"
      ],
    },
    "es5": {
      "presets": [
        ["env", {"forceAllTransforms": true}],
        "stage-1", "flow", "react"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-runtime"
      ]
    },
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}
