{
  "presets": [
    "flow",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"browsers": "last 2 versions"}}]
      ],
    },
    "es5": {
      "presets": [
        ["env", {"forceAllTransforms": true}]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-runtime"
      ]
    },
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}
